= form_for @note do |f|
  - if @note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
      %ul
        - @note.errors.full_messages.each do |message|
          %li= message

  .container-fluid
    .row.form-row
      .col-4
      .field.form-group.col-4
        = f.collection_select :song_id , Song.order(:title),:id,:title, prompt: true
        = f.text_area :description, class:"form-control", placeholder: "Description"
      .col-4

    .actions.btn
      = f.submit "Add Note"
