.container.text-center.p-3
  %h1 Notes


.jumbotron
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %th Song
        %th Description
        %th{colspan: "3"}

      %tbody
        - @notes.each do |note|
          %tr
            %td= note.song.title
            %td= note.description
            %td= link_to 'Show', note
            %td= link_to 'Edit', edit_note_path(note)
            %td= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  .row.btn.btn-default
    = link_to 'Add Note', new_note_path
