.jumbotron
  %p#notice= notice

  %p
    %b Song:
    = @note.song.title
  %p
    %b Description:
    = @note.description

  .row.btn.btn-default
    = link_to 'Edit', edit_note_path(@note)
    |
    = link_to 'Back', notes_path
