%nav.navbar.navbar-inverse.navbar-custom
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", type:"button"}
        %span.fas.fa-bars.fa-lg
      = link_to 'B.M.YOU', root_path, class: "navbar-brand"
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Songs', songs_path
        %li
          = link_to 'Artists', artists_path
        %li
          = link_to 'Albums', albums_path
        %li
          = link_to 'Notes', notes_path
        %li
          = link_to 'Favourites', favourites_path

      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Contact Us', get_in_contact_path
