= form_with(model: song, local: true) do |form|
  - if song.errors.any?
    #error_explanation
      %h2
        = pluralize(song.errors.count, "error")
        prohibited this song from being saved:
      %ul
        - song.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    /= form.label :title
    = form.text_field :title , class:"form-control", placeholder: "Title"
  .field.form-group
    /= form.label :duration
    = form.text_field :duration , class:"form-control", placeholder: "Duration"
  .field.form-group
    = form.label :favourite, "Favourite?"
    = form.check_box :favourite
  .field.form-group
    = form.label :artist_id
    = form.collection_select :artist_id , Artist.order(:name),:id,:name, prompt: true
  .field.form-group
    = form.label :album_id
    = form.collection_select :album_id , Album.order(:title),:id,:title, prompt: true
  .actions
    /%button.btn.btn-secondary{type: "submit"} Add Song
    = form.submit "Add Song", class: "btn btn-secondary"
