= form_with(model: song, local: true)  do |form|
  - if song.errors.any?
    #error_explanation
      %h2
        = pluralize(song.errors.count, "error")
        prohibited this song from being saved:
      %ul
        - song.errors.full_messages.each do |message|
          %li= message
  .container-fluid
    .row.form-row
      .col-4
      .field.form-group.col-4
        = form.text_field :title , class:"form-control", placeholder: "Title"
        = form.text_field :duration , class:"form-control", placeholder: "Duration"
        = form.label :artist_id
        = form.collection_select :artist_id , Artist.order(:name),:id,:name, prompt: true
        = form.label :album_id
        = form.collection_select :album_id , Album.order(:title),:id,:title, prompt: true
        = form.label :favourite, "Favourite?"
      .col-4
    .row.form-row
      .col-5
      .col-2.checkbox-align
        = form.check_box :favourite
      .col-5


    .actions.btn
      = form.submit "Add Song"
