%h1 Listing albums

%table
  %thead
    %tr
      %th Title
      %th Number of songs
      %th Release year
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.title
        %td= album.number_of_songs
        %td= album.release_year
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Album', new_album_path
